
/* Estilo para el subtítulo de la sección de la página*/
h3{
    text-align: center;
    font-size: 35px;
    margin: 0px 110px 70px 110px;
    padding-top: 10px;
}

/* Estilo para el contenedor donde ira el texto */
.quienes_somos {
    position: relative;
    background-color: #F9F9F9;
    margin: 0 auto;
    padding-bottom: 100px;
    padding: 45px 100px 100px 100px;
    width: fit-content;   
}


/*Estilo para la imagen que irá en la sección dentro del contenedor*/

.caja_img {
    position: relative;
    margin: 0 35% 0 35%;
}

.quienes_somos img{
    position: relative;
    margin-bottom: 100px;
}

/*Estilo para el texto de la sección de la página dentro del contenedor*/

.fondo{
    background-color: white;
    border-radius: 10px;
    padding: 50px;
    width: fit-content;
}

.quienes_somos p:first-child {
    margin-top: 0;
}

.quienes_somos p{
    font-size: 20px;
    margin-top: 50px;
    text-align: justify;
    text-indent: 7%;
    font-weight: bold; 
}

/*Dispositivos con máximo de pantalla 1300px:*/

@media screen and (max-width: 1300px) {
    
    .quienes_somos {
        width: 1300px;
    }
    
    .caja_img {
        margin-left: 0;
    }

    .quienes_somos img {
        padding-left: 290px;
    }

}

/*Dispositivos con máximo de pantalla 900px:*/

@media screen and (max-width: 900px) {
 
    .quienes_somos {
        width: 900px;
    }
    
    .quienes_somos img {
        padding-left: 100px;
    }
    
}