/*Estilo general para quitar margenes y que ocupe hasta el borde de la caja*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    /*outline: solid 1px red;*/
}

body {
    width: 100%;
}

/*Estilo para el header, scroll a la página manteniendo elemento*/
header {
    position: relative;
}

.fixed_header {
    position: fixed;
    width: 100%;
    height: 65px;
    background-color: #F9F9F9;
    padding: 10px 20px ;
    z-index: 1;
}

/*Posición del botón del navegador*/
nav {
    position: relative;
    display: inline-block;
}

/*Para posicionar la aparición del navegador*/
nav:hover .menu {
    left: -31px;
}

/*Posicionar el menú*/
.menu {
    position: absolute;
    width: 250px;
    height: 130px;
    top: 45px;
    padding: 10px 10px 20px 10px;
    left: -300px;
}

.menu>li:first-child:hover {
    font-size: 25px;
}

.menu>li:first-child {
    position: relative;
    padding-left: 20px;
}

.menu>li:last-child {
    border-bottom-right-radius: 5px;
    padding-bottom: 15px; 
}

.menu>li {
    background-color: #F9F9F9;
    padding: 7px;
    font-size: 20px;
    transition: all 0.3s;
}

.menu>li a{
    position: relative;
    left: 0;
    padding-left: 13px;
    text-decoration: none;
    color: black;
    transition: all 0.3s;
}

.menu>li a:hover{
    font-size: 25px;
}

/*Hover para hacer aparecer al submenu*/

.menu>li:first-child:hover .submenu {
    display: block;
}

.submenu {
    position: absolute;
    width: 260px;
    top: -2px;
    left: 225px;
    display:none;
    padding: 2px;
    border-radius: 5px;
}

.submenu li {
    background-color:#ebebeb;
    padding: 7px;
    font-size: 20px;
}

.submenu>li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.submenu>li img {
    margin-right: 3px;
}

.submenu>li a{
    position: relative;
    left: 0;
    text-decoration: none;
    color: black; 
    transition: all 0.3s;
}

.submenu>li a:hover{
    font-size: 25px;
}

/*Posición icono principial*/
header a {
    position: absolute;
    left: 48%;
}

/*Fondo resto header*/
.back_image_header {
    background-repeat: no-repeat;
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1)),url(../img/naturejapan.jpg);
    width: 100%;
    height: 600px;
    min-width: 700px;
    margin-bottom: 15px;
}

h1 {
    text-align: center;
    font-style: italic;
    font-size: 70px;
    padding-top: 350px;
    padding-bottom: 10px;
}

h2 {
    text-align: center;
    font-size: 25px;
}

/*Servicios de la empresa*/

.caja_servicios {
    position: relative;
    background-color: #F9F9F9;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 45px 200px 65px 200px;
    width: fit-content;
}

.caja_servicios h3 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 40px;
}

.caja_servicios img {
    display: block;
    margin-bottom: 20px;
}

.caja_servicios a {
    height: 220px;
    width: 250px;
    padding: 20px 65px;
    text-decoration: none;
    display: block;
    color: black;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;  
}

.service {
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    border: #F9F9F9 solid 2px;
}

.service + .service{
    margin-right: 20px;
}

.margin_right_service {
    margin-right: 20px;
}

.service:hover {
    border: #FF7A8A solid 2px;
    font-size: 35px;
}

/*Noticias*/

.contenedor_noticias {
    background-color: #F9F9F9;
    padding-top: 25px;
    padding-bottom: 25px;
}

.contenedor_noticias section {
    display: inline-block;
    width: 70%;
    padding-left: 50px;
    border-right: #ebebeb solid 1px;
}

.contenedor_noticias h3{
    margin-bottom: 40px;
    padding-top: 25px;
    font-size: 30px;
}

.noticia_articulo {
    min-height: 250px;
    height: fit-content;
    background-color: white;
    border-radius: 5px;
    margin: 0px 35px 20px 0px;
    padding: 10px 20px;
}
.noticia_articulo h4 {
    background-color: #FF7A8A;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding-left: 45px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.noticia_articulo p {
    text-align: justify;
}

.noticia_articulo img {
    float: left;
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 10px;
}

/*Publicidad*/

aside {
    position: relative;
    display: inline-block;
    width: 25%;
    margin-left: 50px;
    padding-left: 60px;
}

aside img {
    border-radius: 5px;
}

/*Pie de página*/

footer {
    position: relative;
    height: 110px;
    width: 100%;
    background-color: #113A5D;
    padding: 10px 20px;
}

footer .p1 {
    position: relative;
    display: inline;
    color:#F9F9F9;
    top: 35px;
}

footer div {
    position: absolute;
    width: 230px;
    top: 35px;
    right: 15px;
}

footer .p2 {
    position: relative;
    display: inline-block;
    color:#F9F9F9;
    top:-15px;
}

footer>div img {
    margin-left: 5px;
}

/*Media Queries:*/

/*General para recolocar las cajas de servicios a la altura correcta durante la transición variable de mas de 1300px*/

@media screen and (max-width: 1505px) {
    .margin_top_service {
        margin-top: 25px;
    }
}

/*Dispositivos con máximo de pantalla 1300px:*/

@media screen and (max-width: 1300px) {
    
    body {
        width: 1300px;
    }

    .caja_servicios {
        width: 1300px;
        padding: 45px 78px 65px 78px;
    }

    .service {
        width: 550px;
        padding-left: 140px;
    }

    aside {
        position: relative;
        display: inline-block;
        padding-left: 0;
        top: -30px;
    }
    
}

/*Dispositivos con máximo de pantalla 900px:*/

@media screen and (max-width: 900px) {
 
    .fixed_header {
        position: fixed;
        width: 900px;
        height: 65px;
        background-color: #F9F9F9;
        padding: 10px 20px ;
        z-index: 1;
    }

    body {
        width: 900px;
    }

    .caja_servicios {
        width: 900px;
        padding: 45px 0 65px 0;
    }

    .caja_servicios h3{
        padding-left: 20px;
    }

    .service {
        width: 900px;
        padding-left: 325px;
    }

    .contenedor_noticias h3{  
        text-align: center;
    }
    
    .contenedor_noticias section {
        display: inline-block;
        width: 900px;
        padding: 0 20px 0 20px;
    }

    .contenedor_noticias section {
        padding-left: 50px;
        padding-bottom: 25px;
        border-bottom: #ebebeb solid 1px;
        border-right: none;
    }

    aside {
        position: relative;
        display: inline-block;
        width: 900px;
        padding-left: 270px;
        padding-top: 45px;
    }
    
}


