/* Estilo para el subtítulo*/
h3{
    text-decoration: underline;
    text-align: center;
    font-size: 25px;
    margin: 50px 110px 110px 110px;
}

/*Estilo para el contenedor de los servicios*/

.nuestros_servicios{
    position: relative;
    background-color: #F9F9F9;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 45px 130px 65px 20px;
    width: fit-content;
  
}

/*Estilo para la subsección de cada uno de los servicios*/

.servicios{
    background-color: white;
    height: fit-content;
    width: 100%;
    display:block;
    margin: 0px 5px 30px 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
   
}

/*Estilo para los títulos de los servicios dentro de las subsecciónes*/

.servicios h4{
    background-color: #FF7A8A;
    border-radius: 6px;
    font-size: 25px;
    text-align: left;
    margin-top: 20px;
    margin-left: 45px;
    margin-bottom: 20px;
    width: 95%;
    padding-left: 40px;
    padding-top: 3px;
    padding-bottom: 3px;

    
    
    
}

/*Estilo para las imagenes dentro de los estilos de los servicios*/

.servicios img {
    margin: 0px 50px 50px 50px;

}

/*Estilo para el texto dentro del contenedor de los servicios*/

.servicios p{
    font-size: 20px;
    margin: 20px 50px 50px 50px;
    
}

/*Estilo para que la imagen queramos que aparezca a la izquierda */

.imagen_izquierda{
    float: left;
    width: 230px;
    height: 230px;
    
    
}

/*Estilo para que la imagen queramos que aparezca a la derecha */

.imagen_derecha{
    float: right;
    width: 230px;
    height: 230px;
    
}

